/* Accordion */
.accordion {
  margin-top: 30px;
  margin-left: 10px;
  text-transform: capitalize;
}

#catBtn {
  margin-left: auto;
  min-width: 100px;
  margin-top: 5px;
}

/* Table */
.table {
  width: 700px;
  /* margin-top: 30px; */
}
.table h3{
  margin-top: 40px;
  text-align: center;
}
.tableBos{
  font-size: medium;
  
  text-align: center;
}

/* Responsive */

@media (max-width: 1190px) {
  .table {
    width: 450px;
  }
}
@media (max-width: 800px) {

  #catBtn {
    min-width: 10px;
    font-size: 10px;
  }
}

@media (max-width: 799px) {
  .table {
    width: 100%;
  }
  .accordion {
    width: 100%;
  }
  #catBtn {
    min-width: 10px;
    font-size: 10px;
  }
}



.card:hover .card-footer {
  background-color: gray;
}