.siparisler {
    margin-top: 10px;
}
.card-header label{
    font-size: 20px;
}
.siparisler .card-body{
    margin: 30px;
    border: 1px solid rgb(196, 189, 189);
    border-radius: 30px;
    
}
#teslimEdildi{
    color: yellowgreen;
}
#teslimEdilmedi{
    color: red;
}
/* .img-fluid{
    margin-right: 10px;
    width: 100px;
    height: 100px;
} */